<!DOCTYPE html>
<html lang="en">
<head>


    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .container-fluid {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }

        main {
            width: 100%;
            max-width: 600px;
        }

        h2, h5, button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    
    @RenderBody()

    <script src="~/jquery-ui-1.13.2/jquery-3.7.1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
